.sidebar {
  display: flex;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  gap: 16px;
}

.sidebar__username {
  width: 157px;
  height: 25px;
}
