.weather {
  position: relative;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  padding: 0 20px;
}

.weather__info {
  position: absolute;
  top: 22px;
  left: 56px;
  color: #fff;
  font-size: 36px;
}

.weather__image {
  width: 100%;
}
