.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 32px 40px 32px 40px;
  color: #000;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
}

.header__logo {
  height: 90px;
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__clothes-button {
  border: none;
  background: none;
  color: #000;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
}

.header__clothes-button:hover {
  color: darkgrey;
}

.header__username {
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;

  /* display: flex; */
  /* align-items: center; */
  /* gap: 20px; */
  /* color: #000; */
}

.header__username:visited {
  color: #000;
}

.header__username:hover {
  color: darkgrey;
}

a {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
}

.header__button {
  border: none;
  background: none;
  color: #000;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
}

.header__button:visited {
  color: #000;
}

.header__button:hover {
  color: darkgrey;
}

.header__avatar {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #000000;
  border-radius: 50%;
}

.header__user-img-text {
  height: 40px;
  width: 40px;
  object-fit: cover;
  display: flex;
  gap: 20px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  justify-content: center;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
}
