.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 32px 40px 32px 40px;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
}

.header__logo {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__date {
  color: #000;
}

.header__avatar-logo {
  display: flex;
  gap: 0px;
  align-items: center;
}

.header__button {
  border: none;
  background: none;
  color: #000;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
}

.header__button:hover {
  color: darkgrey;
}

.header__username {
  padding-left: 20px;
  padding-right: 12px;
}
