.modal {
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.modal__content {
  margin: auto;
  max-width: 498px;
  width: 100%;
  height: 610px;
  padding: 0;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #fff;
}

.modal__button {
  background-image: url("../../images/close-button.svg");
  background-color: transparent;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  padding: 0;
  border: none;
  height: 20px;
  width: 20px;
  margin-top: 20px;
  margin-left: 455px;
  cursor: pointer;
}

.modal__image-preview {
  max-width: 500px;
  height: 500px;
  display: flex;
  border-radius: 16px;
  width: 100%;
}

.modal__info {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-left: 5px;
}

.modal__item-description {
  margin-top: 20px;
  margin-left: 32px;
  /* margin-bottom: 12px; */
}

.modal__weather-description {
  margin-left: 32px;
  margin-top: 60px;
  margin-bottom: 32px;
  position: absolute;
}

.modal__item-delete-button {
  border: none;
  color: #ff4d00;
  background-color: #fff;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  max-height: 24px;
  margin-right: 32px;
  margin-top: 20px;
}

.modal__item-delete-button:hover {
  cursor: pointer;
  color: lightsalmon;
}
